#headCRow {
    display: grid;
    grid-template-columns:  .5fr 1.5fr 3.5fr 1fr .5fr;
}

.CHeadCol {
    text-align: center;
    font-weight: bold;
}

.CHeadLbl {
    font-size: 18px;
}

.rowC {
    display: grid;
    grid-template-columns: .5fr 1.5fr 3.5fr 1fr .5fr;
    height: 10.2rem;
}

.rowCMultiple {
    display: grid;
    grid-template-columns: .5fr 1.5fr 3.5fr 1fr .5fr;
    height: 12.2rem;
}

.rowCElement {
    display: flex;
    align-items: center;
    justify-content: center;
}

#questionTypeDropMenu.active {
    display: block;
}

#questionTypeDropMenu {
    display: none;
}

.dropableMenu {
    z-index: 10;
    display: none;
    position: absolute;
    box-shadow: .35em .35em .4em #B8B8B8;/* rgb(184, 184, 184);*/
    background-color: rgb(37, 172, 154);
    height: 9.4rem;
    width: 21vw;
    /*width: 18.7em;*/
    border-radius: .2rem;
}

.dropMenuContent {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: transparent;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropMenuElem {
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.lblDropM {
    background-color: transparent;
    cursor: pointer;
}

.dropMenuElem:hover {
    background-color: rgb(202, 102, 77);
}



/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.pregRes {
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
}

.rowPreg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pregCol {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;        /*  ???? */
    width: 100%;
}

.lblsPregTxtArea {
    flex-grow: .5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

.pregTxtArea {
    flex-grow: 2;
    width: 100%;
    border-radius: .2em;
    padding: .5em;
}

.lblClosePregRes {
    margin-top: .4em;
    flex-grow: .5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

.closePregRes {
    flex-grow: .7;
    width: 100%;
    border-radius: .2em;
    padding: .5em;
    outline: none;
    border: rgb(172, 171, 171) solid 1px;
}

.resCol {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.opcPregPart {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.pregOpcion {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: .3em;
    width: 100%;
}

.lblsPregOpcTxtArea {
    flex-grow: .5;
    text-align: right;
    width: 85%;
}

.optionContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.correctOption {
    flex-grow: .3;
    outline: none;
}

.opcPregTxtInput {
    flex-grow: 1;
    border-radius: .2em;
    padding: .5em;
    font-size: 14px;
    width: 100%;
    outline: none;
    border: rgb(172, 171, 171) solid 1px;
}