#modalforactionscontainer {
    margin-top: .8em;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: 'Noto Sans', sans-serif;
    height: 100%;
    width: 100%;
}

#returnmodalbtn {
    display: block;
}

#modalforactionsmainbtns {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#instruccCreateInstrumento {
    flex-grow: 1;
    text-align: center;
    width: 100%;
}

#fromCreateInst {
    margin-top: .6em;
    flex-grow: 4;
    display: grid;
    grid-template-columns: 1.8fr 1.2fr;
    grid-column-gap: 3em;
    height: 100%;
    width: 100%;
    padding: 0rem 1.4em;
}

#formCreateInstPart1 {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 1.5em;
    width: 100%;
}

#formCreateInstPart2 {
    display: grid;  
    grid-template-rows: 1fr 1fr 1.6fr;
    grid-row-gap: 1em;
    width: 100%;
}

#formCreateInstPart1 > div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#formCreateInstPart2 > div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#titleFormCreateInst {
    font-weight: bold;
    font-size: 2.2vw;
}

.subtitleLblField {
    font-weight: bold;
    font-size: 1.2vw;
}

#fromCreateInst select {
    cursor: pointer;
}

#fromCreateInst select, #fromCreateInst input{
    border-bottom: black solid 2px;
    border-top: none;
    border-right: none;
    border-left: none;
    
    padding: .6em;
    background-color: transparent;
    outline: none;
}

textarea {
    resize: none;
}

#instruccLlenado {
    flex-grow: 2;
    outline: none;
    padding: .5em;
    border-radius: 10px;
    font-size: 1.1vw;
}

#createInstrumento {
    border: solid black 2px;
    border-radius: 10px;
    cursor: pointer;
    padding: .6em;
    background-color: transparent;
    font-size: 1.2vw;
    transition: 300ms background ease-in-out;
    outline:none;
}

#createInstrumento:hover {
    color: white;
    background-color: rgb(55, 55, 55);
}

#instTypeHidden {
    display: none;    
}

#lblsInstruccLlenado {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#countCharInstrucciones {
    padding-right: 1em;
    font-size: 1vw;
    vertical-align: text-bottom;
}

#nombElemContainer>select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
    cursor: auto;
}

#nombElemContainer>select::-ms-expand {
    display: none;
}

