:root {
    --color: white;
}

#pswdForgtForm {
    color: var(--color);
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: auto;
    grid-row-gap: 1.5em;
    height: 65%;
    width: 50%;
    margin: auto;    
    font-family: 'Noto Sans', sans-serif;
}

#pswdForgtText {
    text-align: center;
}

#pswdForgtLbl {
    font-size: 3.4vw;
}

#pswdForgtInstucc {
    font-size: 1.5vw;
}

#pswdForgtInputs {
    display: grid;
    padding: 1em;
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 2em;
    grid-template-columns: auto;

}

#emailResetPswd {
    font-size: 1.5vw;
    background-color: transparent;
    color: var(--color);;
    border-bottom: solid 2px var(--color);
    text-indent: 1.2em;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 2px;
    outline: none;
}

#emailResetPswd::placeholder {
    color: var(--color);    
    text-indent: 1.2em;
}

#sendMailResetPswd {
    font-size: 1.5vw;
    background-color: transparent;
    border: solid 2px var(--color);
    border-radius: 10px;
    color: var(--color);
    transition: 300ms background ease-in-out;
    cursor: pointer;
    outline: none;
}

#sendMailResetPswd:hover {
    color: black;
    background-color: var(--color);
}