#listMateriasPage {
    position: relative;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: .5fr 9.5fr;
    font-family: 'Noto Sans', sans-serif;
    flex-grow: 1;
}

#listMateriasPage ul {
    list-style: none;
}

#listMateriasPage>nav {
    width: 100%;
    height: 100%;
}

#noMateriasAvailable {
    display: block;
    position: absolute;
    width: auto;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    text-align: center;
    font-weight: bold;
    font-size: 1.4vw;
}

#listMateriasNav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 1.4rem;
    font-size: 1.4vw;
}

#pathPage {
    flex-grow: 1;
}

#inputsNavMaterias {
    flex-grow: 1;
}

#inputsNavMaterias > input {
    border-bottom: black solid 2px;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: transparent;
    outline: none;
    padding: .4rem;
    font-size: 1.2vw;
    width: 75%;
}



#listMateriasPage>table {
    width: 100%;
    height: auto;
}

#topTableRow {
    height: 20%;
}

#topTableRow > th{
    background-color: rgb(90, 144, 232);
    border: rgb(90, 144, 232) solid 2px;
    padding: 1.2rem 0%;
    color: white;
    border-radius: 2px;
}

.commonMateriaRow > td {
    border-top: none;
    border-left: none;
    border-right: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    font-size: 1.3vw;
    border-radius: 2px;
}

#materiasTableContent tr:nth-child(even) > td {
    background-color: rgb(197, 197, 197);
}

.styleForIcons {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.commonMateriaRow button {
    background-color: transparent;
    border-color: transparent;
    outline: none;
}

.actionsIcon {
    cursor: pointer;
    transition: 300ms all ease-in-out;
    flex-grow: 1;   
    width: 100%;
}

.actionsIcon:hover {
    transform: scale(1.3);
}

#inputValoresParciales {
    display: none;
}