#listAcademiasPage {
    position: relative;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: .5fr 9.5fr;
    font-family: 'Noto Sans', sans-serif;

    flex-grow: 1;
    
}

/* ---------------------------------------------------------------------------------- */

#listAcademiasPage ul {
    list-style: none;
}

#listAcademiasPage>nav {
    width: 100%;
    height: 100%;
}

#noAcademiasAvailable {
    display: block;
    position: absolute;
    width: auto;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    text-align: center;
    font-weight: bold;
    font-size: 1.4vw;
}

#noAcademiasAvailable>p {
    font-family: 'Noto Sans', sans-serif;
}

#listAcademiasNav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 1.4rem;
    font-size: 1.4vw;
}

#pathPage {
    flex-grow: 1;
}

#sendRequest {
    flex-grow: .5;
    text-align: center;
    align-content: center;
}

#requestBtn {
    cursor: pointer;
}

#inputsNavAcademias {
    flex-grow: 1;
}

#inputsNavAcademias > input {
    border-bottom: black solid 2px;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: transparent;
    outline: none;
    padding: .4rem;
    font-size: 1.2vw;
    width: 75%;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

#mainContainerListAcademias {
    grid-template-rows: .5fr 9fr;
    max-height: 90%;
}

#topTableRow {
    display: grid;
    grid-template-columns: 1.5fr 3fr 2fr;
}

.headAcadsRowElem{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(14, 161, 51);
    border: rgb(14, 161, 51) solid 2px;
    padding: 1.2rem 0%;
    color: white;
}

#submainContainerListAcademias {
    position: relative;
    max-width: 100%;

        overflow: auto;
    max-height: 65vh;
}

#academiasContainer {
    max-height: 100%;
    position: relative;
    max-width: 100%;

    
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: .3em;
}

.academiaRow {
    height: 5.92rem;
    background-color: rgba(235, 235, 235, 0.808);
    display: grid;
    grid-template-columns: 1.5fr 3fr 2fr;
    border-radius: .4em;
    vertical-align: center;
    padding: .3em;
}

.academiaRowElem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#mainContainerListAcademias #academiasContainer:nth-child(even) > .academiaRow {
    background-color: rgb(196, 196, 196);
}