*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#modalregmainbtns {
	color: white;
	display: flex;
	padding: .8rem 1.2rem;
	justify-content: space-between;
}

#returnmodalbtn {
	font-size: 3vw;
	cursor: pointer;

}

#exitmodalbtn {
	font-size: 3vw;
	cursor: pointer;
}

.modalreg
{
	display: none;
	position: fixed;
	z-index: 15;
	top:0;
	left:0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0);
	transition: transform 300ms ease-in-out;
}
#modalregitems
{
	/*
	background-color: rgb(50, 50, 50);
	position: relative;
	margin: 4% auto;
	width: 90%;
	height: 84%;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: space-around;
	*/
	position: relative;
	margin: 3% auto;
	width: 90%;
	height: 88%;
	border-radius: 6px;
	display: grid;
	grid-template-rows: .3fr 9.7fr;
}
.subcontmodal
{
	display: inline-block;
	width: 100%;
}
#instruccregistro
{
	display: grid;
	grid-template-columns: [first] 30% [line2] auto [line3] 30%; 
	grid-template-rows: [row1] 20% [row2] 60% [row3] 15% [row4] 5%;
	height: 15%;
}
#sub1instrucreg
{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;

	color: white;
	font-family: 'Noto Sans', sans-serif;
	font-size: 3vw;
	text-align: center;
}
#sub2instrucreg
{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;

	color: white;
	font-family: 'Noto Sans', sans-serif;
	font-size: 2vw;
	text-align: center;
}
#ingresarpart
{
	padding: 1.5%;
	padding-left: 5%; 
	height: 15%;
	font-size: 1.3vw;
	font-family: 'Noto Sans', sans-serif;
}
#containerusertypes
{
	display: grid;	
	padding: 2%;
	height: 60%;
	grid-template-columns: 32% 32% 32%;
	grid-column-gap: 2%;
}
.subcontainerusertypes
{
	border-radius: 10px;
	cursor: pointer;
	transition: all 400ms ease-in-out;
}
.subcontainerusertypes:hover
{
	transform: scale(1.05);
}
#coordacad
{
	background-color: rgb(90, 144, 232);
	border-color: rgb(90, 144, 232);
}
#prof
{
	/*background-color: rgb(247, 218, 37);
	border-color: rgb(247, 218, 37);*/

	background-color: rgb(14, 161, 51);
	border-color: rgb(14, 161, 51);
}
#alum
{
	background-color: rgb(171, 49, 49);
	border-color: rgb(171, 49, 49);
}
.subcontainerusertypes
{
	display: inline-grid;
	grid-template-columns: [first] 10% [line2] auto [line3] 10%;
	grid-template-rows: [row1] 0% [row2] 60% [row3] auto [row4] 0%;
	grid-row-gap: 7%;
}
.imgusertype
{
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 3;
	border-radius: 3px;
}
.infousertype
{
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 2;
	grid-column-end: 3;
	color: black;
	font-family: 'Noto Sans', sans-serif;
	text-align: center;
	display: inline-grid;
	justify-content: center;
	font-size: 1.4vw;
}
.boldletter
{
	font-weight: bold;
}
#ingresarpart button
{
	color: white;
	background-color: transparent;
	border-color: transparent;
	cursor: pointer;
	transition: all 400ms ease-in-out;
	font-weight: bold;
	text-decoration: underline;
}
#ingresarpart button:hover
{
	transform: scale(1.1);
	text-decoration: underline;
	color: white;
}