*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body
{
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: rgba(245, 239, 239, 0.74);
	z-index: 0;
}
#login
{
	min-height: 100vh;
	display: flex;
}
.containerlogin
{
	margin: auto;
	width: 80%;
}
.maincontainer
{
	background-color: rgba(0, 0, 0, 0.904);
	border-radius: 10px;
	width: 100%;
	padding: 25px;
	display: grid;
	grid-template-columns: 55% 45%;
}
.containeritem
{
	margin: 8%;
}
#mainprj
{
	margin-left: 11%;
	margin-bottom: 15%;
}
#prjname
{
	color: white;
	font-family: 'Noto Sans', sans-serif;
	transition: all 400ms ease-in-out;

	font-size: 48px;
}
#inputtxt
{
	margin-top: 5%;
}
.info
{
	position: absolute;
	display:block;
	color: white;
	font-weight: bold;
	font-family: 'Noto Sans', sans-serif;
	transition: all 400ms ease-in-out;
	margin-left: 1.6%;
	margin-top: -2.6%;
	z-index: 2;

	font-size: 20px;
}
.moveinfo
{
	margin-top: -5.6%;
}
.textinput:focus + .info
{
	margin-top: -5.6%;
}
.textinput
{
	position: relative;
	background-color: transparent;

	border-top: transparent;
	border-left: transparent;
	border-right: transparent;
	border-bottom: solid white 2px;
	border-radius: 2px;
	outline: none;
	color: white;
	text-align: justify;
	font-family: 'Noto Sans', sans-serif;

	text-indent: 4.6%;
	padding-top: 2%;
	padding-bottom: 3%;
	width: 100%;
	z-index: 5;
	font-size: 19px;
}
.btnsubmit
{
	background-color: transparent;
	border: solid 3px white;
	color: white;
	font-weight: bold;
	border-radius: 16px;
	transition: all 400ms ease-in-out;

	font-size: 1.7vw;
	margin-left: 25%;
	width: 45%;
	padding-top: 2%;
	padding-bottom: 2%;
	cursor: pointer;
	font-family: 'Noto Sans', sans-serif;
	outline: none;
}
.btnsubmit:hover
{
	z-index: 1;
	transform: scale(1.1);
}
.btnsubmit:active
{
	transform: scale(.97)
}
.eslogan
{
	margin-top: 20%;
	margin-left: 18%;
	font-family: 'Noto Sans', sans-serif;
	font-weight: bold;
	color: white;
	transition: all 400ms ease-in-out;

	font-size: 20px;
}
.crearcuenta
{
	margin-top: 20%;
	padding-left: 18%;
	color: white;
	font-weight: bold;
	transition: all 400ms ease-in-out;
	font-size: 20px;

	font-family: 'Noto Sans', sans-serif;
}
.crearcuenta button
{
	color: white;
	background-color: transparent;
	font-family: 'Noto Sans', sans-serif;
	border-color: transparent;
	cursor: pointer;
	transition: all 400ms ease-in-out;
	font-weight: bold;
	outline: none;
	text-decoration: underline;
}
.crearcuenta button:hover
{
	transform: scale(1.1);
	text-decoration: underline;
	color: white;
}
.modalerror
{
	display: none;
	z-index: 20;
	width: 100%;
	position: fixed;
	height: 10vh;
	border-radius: 1px;
	background-color: rgba(255, 0, 0, 0.37);
	color: white;
	text-align: center;
	font-size: 2vh;

	font-family: 'Noto Sans', sans-serif;
}
.modalerror>p{
	margin-top: 2.5vh;
}
@media (max-width: 1200px)
{
	.containerlogin
	{
		width: 85%;
	}
	#prjname
	{
		font-size: 40px;
	}
	.info
	{
		font-size: 20px;
		margin-top: -3.2%;
		margin-left: 1.9%;
	}
	.moveinfo
	{
		margin-top: -6.8%;
	}
	.textinput:focus + .info
	{
		margin-top: -6.8%;
	}
	.textinput
	{
		font-size: 15px;
	}
	.btnsubmit
	{
		font-size: 16px;
	}
	.eslogan
	{
		font-size: 18px;
	}
	.crearcuenta
	{
		font-size: 18px;
	}
}
@media (max-width: 900px)
{
	.containerlogin
	{
		width: 85%;
	}
	#prjname
	{
		font-size: 30px;
	}
	.info
	{
		font-size: 16px;
		margin-top: -3.4%;
		margin-left: 1.8%;
	}
	.moveinfo
	{
		margin-top: -7%;
	}
	.textinput:focus + .info
	{
		margin-top: -7%;
	}
	.textinput
	{
		font-size: 15px;
	}
	.btnsubmit
	{
		font-size: 16px;
	}
	.eslogan
	{
		font-size: 14px;
	}
	.crearcuenta
	{
		font-size: 14px;
	}
}
@media (max-width: 768px)
{
	.containerlogin
	{
		width: 85%;
	}
	#prjname
	{
		font-size: 30px;
	}
	.info
	{
		font-size: 16px;
		margin-top: -3.5%;
		margin-left: 1.8%;
	}
	.moveinfo
	{
		margin-top: -7.2%;
	}
	.textinput:focus + .info
	{
		margin-top: -7.2%;
	}
	.textinput
	{
		font-size: 15px;
	}
	.btnsubmit
	{
		font-size: 16px;
	}
	.eslogan
	{
		font-size: 14px;
	}
	.crearcuenta
	{
		font-size: 14px;
	}
}
@media (max-width: 670px)
{
	.maincontainer
	{
		padding: 25px;
		grid-template-columns: 80%;
	}
	.containerlogin
	{
		width: 90%;
	}
	#mainprj
	{
		margin-left: 40%;
		margin-bottom: 15%;
	}
	.info
	{
		margin-left: 9%;
		margin-top: -10%;
		font-size: 16px;
	}
	.moveinfo
	{
		margin-top: -10%;
	}
	.textinput:focus + .info
	{
		margin-top: -10%;
	}
	.textinput
	{
		text-indent: 4.6%;
		padding-top: 2%;
		padding-bottom: 3%;
		margin-left: 13%;
	}
	.btnsubmit
	{
		font-size: 15px;
		margin-left: 36%;
		width: 50%;
		padding-top: 2%;
		padding-bottom: 2%;
		cursor: pointer;
	}
	.btnsubmit:hover
	{
		z-index: 1;
	}
	.btnsubmit:active
	{
		transform: scale(1)
	}
	.eslogan
	{
		margin-top: 0%;
		margin-left: 24%;
		color: white;

		font-size: 20px;
	}
	.crearcuenta
	{
		margin-top: 10%;
		margin-left: 3%;
		color: white;
		font-weight: bold;
		text-align: center;
		width: 100%;
		font-size: 20px;
	}
}
@media (max-width: 530px)
{
	.maincontainer
	{
		padding: 25px;
		grid-template-columns: 80%;
	}
	.containerlogin
	{
		width: 90%;
	}
	#mainprj
	{
		margin-left: 38%;
		margin-bottom: 15%;
	}
	.info
	{
		margin-left: 9%;
		margin-top: -11%;
		font-size: 14px;
	}
	.moveinfo
	{
		margin-top: -11%;
	}
	.textinput:focus + .info
	{
		margin-top: -11%;
	}
	.textinput
	{
		text-indent: 4.6%;
		padding-top: 2%;
		padding-bottom: 3%;
		margin-left: 13%;
	}
	.btnsubmit
	{
		font-size: 15px;
	}
	.eslogan
	{
		width: 100%;
		font-size: 17px;
	}
	.crearcuenta
	{
		margin-top: 10%;
		margin-left: 3%;
		color: white;
		font-weight: bold;
		text-align: center;
		transition: all 400ms ease-in-out;
		width: 100%;
		font-size: 17px;
	}
}