#modalforactionscontainer {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.6fr 8.4fr;
    grid-row-gap: 2em;
    font-family: 'Noto Sans', sans-serif;
}

#configAcadInstrucc {
    color: black;
    font-size: 2.4vw;
    font-weight: bold;
    text-align: center;
    margin-top: 1%;
}

#configAcadInputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#listaProffile {
    width: 70%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#listaProffile>label {
    font-weight: bold;
    width: 100%;
    text-indent: 4%;

}
#listaProfBtn {
    padding: 1em 0em;
    margin-top: 2em;
    width: 80%;
    position: relative;
    overflow: hidden;
    border: solid black 2px;
    border-radius: 10px;
    background-color: transparent;
    outline: none;
    text-align: center;
    font-weight: bold;

    transition: 300ms background ease-in-out;
    
    
}
#listaProfBtn:hover {
    color: white;
    background-color: rgb(55, 55, 55);
}

#listaProfBtn [type=file] {
    display: block;
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    width: 100%;
    padding: 1em 0em;
    text-align: right;
    top: 0;
}

#deleteAcademia {
    flex-grow: 1;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#deleteAcademiaBtn {
    padding: 1em 6em;
    font-size: 1.7vw;

    background-color: transparent;
    border: solid black 2px;
    border-radius: 20px;
    cursor: pointer;
    outline: none;

    transition: 200ms background ease-in-out;
}
#deleteAcademiaBtn:hover {
    color: white;
    background-color: rgb(184, 20, 20);
    border-color: rgb(184, 20, 20);
}