#formregcomm {
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}

#easycheck{
    margin-top: 3%;
    font-size: 2.6vw;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
}
#formcontainer {
    margin-top: 1vh;
}

#labelsreg{
    font-size: 1.6vw;
    padding-right: 5%;
    margin-left: 15%;
    font-family: 'Noto Sans', sans-serif;   
}

#freg {
    display: grid;
    grid-template-columns: 31% 30% 30%;
    grid-template-rows: auto;
    grid-column-gap: 3%;
    grid-row-gap: 4vh;
    justify-items: center;
    align-items: center;
    
    margin-left: 3%;
    margin-top: 6vh;
}

#freg>div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 7vh;

    padding: 0;
    margin: 0;
    width: 100%;

    justify-content: center;
}

#freg>div>label{
    width: 100%;
    text-indent: 2.6vw;
    font-size: 1.2vw;

    font-family: 'Noto Sans', sans-serif;
}

#freg>div>input {
    margin-top: 10px;
    width: 80%;
    border-radius: 2px;
    height: 3.4vh;
    padding-bottom: .2em;
    background-color: transparent;

    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: white 2px solid;

    font-family: 'Noto Sans', sans-serif;
    font-size: 1.1vw;
    color: white;
    outline: none;
}


#freg>div select {
    margin-top: 15px;
    border-radius: 2px;
    height: 3.8vh;
    padding-bottom: .2em;
    background-color: transparent;
    
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: white 2px solid;

    font-family: 'Noto Sans', sans-serif;
    font-size: 1.1vw;
    color: white;
    outline: none;
    cursor: pointer;
}

#freg>div select>option {
    color: black;
}

#cicloinputs {
    width: 70%;
    display: grid;
    grid-template-columns: 65% 25%;
    grid-column-gap: 5%;
}

#submitreg {
    background-color: transparent;
    border: white 2px solid;
    border-radius: 10px;
    color: white;
    font-size: 1.4vw;
    width: 70%;
    height: 5.5vh;

    font-family: 'Noto Sans', sans-serif;
    cursor: pointer;
    outline: none;
}