* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.allcontainer {
    position: relative;
    display: grid;
    grid-template-columns: 2vw 96vw 2vw;
    grid-template-rows: 10vh 2vh 83vh 5vh;
    grid-template-areas: 
    "toolsBar toolsBar toolsBar"
    ". . ."
    ". maincontainer ."
    ". . ."
}

