.personalprofile {
    display: none;
    font-family: 'Noto Sans', sans-serif;
}

.personalprofile>nav {
    position: relative;
    width: 100%;
    height: 100%;
    border: solid red 2px;
}
.profilegrid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 4fr 4fr;
    grid-template-rows: 1fr;
}

.profilegrid>div {
    display: grid;
    grid-template-columns: 1fr;
}

.profilegrid button{
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: transparent;
    transition: 100ms all ease-in-out;
    border-radius: 1px;
    font-size: 1.1vw;
    outline: none;
}
.profilegrid button:hover {
    background-color: white;
}

.profilegrid input {
    background-color: transparent;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-bottom: black solid 2px;
    border-radius: 2px;
    color: black;
    outline: none;
    text-indent: 1vw;
    padding-bottom: .5vh;
    font-size: 1.3vw;
}

.profilegrid select {
    background-color: transparent;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-bottom: black solid 2px;
    border-radius: 2px;
    color: black;
    outline: none;
    text-indent: 1vw;
    padding-bottom: .5vh;
    font-size: 1.3vw;
}

#profilesubgridconfig {
    grid-template-rows: 3fr 1fr 1fr 1fr;
    grid-row-gap: 1vh;
}

#profilesubgridforall {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: auto;
    grid-row-gap: 1.4em;
    align-items: center;
    font-size: 1.3vw;
}
#profilesubgridforall>div {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: auto;
    grid-row-gap: .4em;
    justify-items: center;
    width: 100%;
}

#profilesubgridforall>div>input {
    width: 80%;
}
#profilesubgridforall>div>select {
    width: 80%;
    cursor: pointer;
}

#profilesubgridvariable {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: auto;
    align-items: center;
    grid-row-gap: 1.4em;
    font-size: 1.3vw;
}
#profilesubgridvariable>div {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: auto;
    grid-row-gap: .4em;
    justify-items: center;
    width: 100%;
}

#profilesubgridvariable>div>label {
    width: 80%;
    text-align: left;
}
#profilesubgridvariable>div>input {
    width: 80%;
}
#profilesubgridvariable>div>select {
    width: 80%;
    cursor: pointer;
}
#profilesubgridvariable>div>div {
    width: 100%;
    cursor: pointer;
}

#cicloselects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    justify-items: center;
}
#cicloselects>select {
    width: 60%;
}