#headLCRow {
    display: grid;
    grid-template-columns: 1fr 3fr 4fr 1fr;
}

.headLCCol {
    text-align: center;
    font-weight: bold;
}

.LCHeadLbl {
    font-size: 18px;
}

.rowLC {
    display: grid;
    grid-template-columns: 1fr 3fr 4fr 1fr;
}

.rowLCElement {
    display: flex;
    align-items: center;
    justify-content: center;
}