#modalforactionscontainer {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 9fr;
    grid-row-gap: 1em;
    font-family: 'Noto Sans', sans-serif;
}

#selectInstrumentInstrucc {
    color: black;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    margin-top: 1%;
}

#formSelectInstrumento {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 1em;
}

.lblTypeInstrumento {
    font-weight: bold;
    font-size: 1.2vw;
    cursor: pointer;
}

.typeInstrumento {
    border: black solid 1px;
    display: grid;
    grid-template-rows: 8fr 1fr 1fr;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    transition: 200ms all ease-in-out;
}

.instImg {
    margin: 1em;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.typeInstrumento:hover {
    transform: scale(1.03);
}


#cRubrica {
    background-color: rgb(204, 154, 214);
    border: none;
}

#cRubrica > span {
    background-image: url('../img/instrumentos/rubrica.jpg');
}

#cListaC {
    background-color: rgb(154, 197, 214);
    border: none;
}

#cListaC > span {
    background-image: url('../img/instrumentos/listacotejo.png');
}

#cGuiaObs {
    background-color: rgb(188, 214, 154);
    border: none;
}

#cGuiaObs > span {
    background-image: url('../img/instrumentos/guiaobs.png');
}

#cCuestionario {
    background-color: rgb(214, 183, 154);
    border: none;
}

#cCuestionario > span {
    background-image: url('../img/instrumentos/cuestionario.png');
}