#modalforactionscontainer {
    position: relative;
    display: grid;
    grid-template-rows: 1.2fr 8.6fr;
    grid-template-columns: auto;
    grid-row-gap: 1em;
    font-family: 'Noto Sans', sans-serif;
}

#returnmodalbtn {
    display: block;
}

#modalforactionsmainbtns {
    display: flex;
    justify-content: space-between;
}

#instruccCreateInstrumento {
    text-align: center;
}

#fromCreateInst {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3rem;
    height: 100%;
    padding: 0rem 1.4rem;
}

#formCreateInstPart1 {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-row-gap: 1.5rem;
}

#formCreateInstPart2 {
    display: grid;  
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 1.5rem;
}

#formCreateInstPart1 > div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#formCreateInstPart2 > div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#instruccionesLlenado {
    flex-grow: 5;
}

#titleFormCreateInst {
    font-weight: bold;
    font-size: 2.2vw;
}

.subtitleLblField {
    font-weight: bold;
    font-size: 1.2vw;
}

#fromCreateInst select {
    cursor: pointer;
}

#fromCreateInst select, input{
    border-bottom: black solid 2px;
    border-top: none;
    border-right: none;
    border-left: none;
    
    padding: .6rem;
    background-color: transparent;
    outline: none;
}

#createInstrumento {
    border: solid black 2px;
    border-radius: 10px;
    cursor: pointer;
    padding: .6rem;
    background-color: transparent;
    font-size: 1.4vw;
    transition: 300ms background ease-in-out;
}

#createInstrumento:hover {
    color: white;
    background-color: rgb(55, 55, 55);
}